* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
  height: fit-content;
  margin-top: 25vh;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 10px;
  background-color: rgb(27 27 30 / 98%);
  backdrop-filter: blur(5px);
}

.settings-container {
  display: none;
  width: 90%;
  padding-bottom: 30px;
}

.two-sided-container {
  display: flex;
}

.left-container, .right-container {
  width: 50%;
}

.settings-small-text {
  font-size: 14px;
  color: #93929f;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
}

.search-icon {
  margin: 0 20px;
}

.search-input {
  width: 545px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #e3e3ed;
  font-size: 18px;
}

.level-container {
  display: flex;
  flex-direction: column;
  height: 40px;
  align-items: center;
}

.level-title {
  color: #b4b5c3;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 800;
  letter-spacing: .3px;
  margin-bottom: 0px;
}

.level-input-group {
  position: relative;
  width: 80px;
  height: 30px;
  border-radius: 5px;
}

.level-input {
  background-color: #27272d;
  border: none;
  outline: none;
  color: #e3e3ed;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.level-arrow {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  height: 100%;
  top: 0; 
}

.level-arrow path {
  fill: #cfcfd7;
}

.level-down {
  left: 0;
  padding-left: 10px;
  padding-right: 5px;
}

.level-up {
  right: 0;
  padding-right: 10px;
  padding-left: 5px;
}

.level-input::-webkit-outer-spin-button,
.level-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.level-input[type=number] {
  -moz-appearance: textfield;
}

.search-results-container, .map-results-container {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
  max-height: 400px;
  overflow-y: scroll;
}

.map-results-container {
  width: 98%;
}

.search-results-container::-webkit-scrollbar {
  width: 20px;
}

.map-results-container::-webkit-scrollbar {
  display: none;
}

.search-results-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.search-results-container::-webkit-scrollbar-thumb {
  background-color: #a9a9b9;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.search-results-container::-webkit-scrollbar-thumb:hover {
  background-color: #c1c1cc;
}

.search-row, .search-header, .quest-header, .quest-row, .hideout-row, .hideout-header, .craft-row, .craft-header {
  padding: 12px 0;
  height: fit-content;
  display: flex;
  border-top: 2px solid #333338;
  width: 100%;
}

.no-results {
  color: #cfcfd7;
  padding: 15px 15px;
  width: 100%;
}

.search-row > *, .search-header > *, .quest-row > *, .quest-header > *, .hideout-header > *, .hideout-row > *, .craft-header > *, .craft-row > * {
  display: flex;
  align-items: center;
  color: #e3e3ed;
}

.search-header, .quest-header, .hideout-header, .craft-header {
  border-top: none;
  align-items: flex-start;
}

.search-row:nth-of-type(even) {
  background-color: #161618;
}

.quest-row:nth-of-type(4n+0) {
  background-color: #161618;
}

.name-container {
  padding-left: 15px;
  width: 40%;
  font-size: 18px;
  flex-direction: column;
  align-items: flex-start;
}

.search-header .name-container {
  font-size: 14px;
}

.full-name {
  font-size: 15px;
  font-weight: 600;
  color: #a3a3a9;
}

.item-requirements {
  width: 30%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.trader, .average {
  width: 15%;
}

.average {
  flex-direction: column;
  justify-content: center;
}

.fee-price {
  font-size: 13px;
  color: #a3a3a9;
}

.fee-title {
  font-size: 12px;
  color: #a3a3a9;
  text-transform: capitalize !important;
}

.in-raid-amount, .hideout-amount {
  font-size: 14px;
  margin-left: 5px;
}

.in-raid-quest, .hideout-title {
  font-size: 14px;
  margin-right: 5px;
}

.hotkey {
  cursor: pointer;
  background-color: #2a2a2ee6;
  width: 56px;
  height: 38px;
  border-radius: 5px;
  color: rgb(185, 184, 189);
  box-shadow: 0px 0px 5px 2px #0b0b0c26;
  letter-spacing: 1px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  transition: all .25s;
}

.hotkey:hover {
  color: white;
  box-shadow: 0px 0px 2px 1px #0b0b0c26;
}

.reset {
  cursor: pointer;
  margin-top: 10px;
  background-color: #761b0f;
  height: 38px;
  width: fit-content;
  padding: 0 15px;
  border-radius: 5px;
  color: rgb(213 211 219);
  box-shadow: 0px 0px 5px 2px #761b0f26;
  letter-spacing: 1px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-transform: uppercase;
  transition: all .25s;
}

.reset:hover {
  color: white;
  box-shadow: 0px 0px 2px 1px #761b0f26;
}

.update {
  cursor: pointer;
  margin-top: 10px;
  background-color: #404046;
  height: 38px;
  width: fit-content;
  padding: 0 15px;
  border-radius: 5px;
  color: rgb(213 211 219);
  box-shadow: 0px 0px 5px 2px #40404626;
  letter-spacing: 1px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .25s;
}

.update:hover {
  color: white;
  box-shadow: 0px 0px 2px 1px #40404626;
}

.manual-update {
  margin-left: 10px;
}

.settings-button-container {
  cursor: pointer;
  background-color: #27272d;
  padding: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: #dfdfe9;
  margin-left: 7px;
}

.tab-container {
  display: flex;
  width: 100%;
}

.quest-subtab-container, .hideout-subtab-container, .maps-subtab-container {
  display: none;
  width: 99%;
}

.tab, .subtab {
  flex-direction: column;
  cursor: pointer;
  flex: 1;
  height: 40px;
  background-color: #27272d;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(185, 184, 189);
  border-radius: 5px;
  box-shadow: 0px 0px 4px 2px #0b0b0c26;
  transition: all .2s;
}

.tab:hover {
  color: rgb(211, 210, 218);
}

.tab-small-text {
  font-size: 12px;
  color: #7a797c;
}

.subtab {
  font-size: 14px;
  margin: 5px;
}

.active-tab {
  background-color: #2727c5;
  color: rgb(228 226 239);
}

.active-subtab {
  background-color: #2727c5;
  color: rgb(228 226 239);
}

.quest-header, .search-header, .hideout-header, .craft-header {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  color: #a2a2ad;
}

.quest-trader {
  width: 15%;
  margin-left: 15px;
}

.quest-name {
  width: 30%;
}

.quest-tasks {
  width: 35%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.quest-expand {
  width: 10%;
}

.quest-toggle, .quest-forward {
  width: 10%;
}

.quest-expand-box, .hideout-expand-box, .quest-confirm-box, .quest-remove-box, .quest-forward-box {
  width: 50px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #31313c;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
}

.quest-confirm-box {
  background-color: #094806;
  transition: all .2s;
}

.quest-confirm-box:hover {
  background-color: #145a10;
}

.quest-remove-box {
  background-color: #480606;
  transition: all .2s;
}

.quest-remove-box:hover {
  background-color: #5a0e0e;
}

.quest-forward-box {
  transition: all .2s;
}

.quest-forward-box:hover {
  background-color: #42424e;
}

.quest-info-container {
  display: none;
  width: 95%;
  padding: 15px;
  background-color: #27272d;
  margin-bottom: 10px;
  border-radius: 8px;
}

.quest-info-container img {
  max-height: 150px;
  cursor: pointer;
}

.quest-info-container .maximize-img {
  max-height:none;
  max-width: 100%;
}

.quest-info-container ul {
  margin-left: 15px;
  margin-bottom: 15px;
}

.quest-info-container p, .quest-info-container li, .quest-info-container h3 {
  color: #e3e3ed;
  font-size: 14px;
  margin-bottom: 15px;
}

.quest-info-container h3 {
  font-size: 18px;
}

.quest-info-container li div {
  margin: 0 4px;
}

.quest-info-container .list-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.quest-info-container table {
  color: #e3e3ed;
  border: 2px solid #7d7d8b;
  border-radius: 6px;
  padding: 8px;
}

.quest-info-container th {
  text-align: left;
}

.quest-info-container th, td {
  padding: 3px 10px;
}

.name-quests, .name-hideout {
  display: flex;
  align-items: center;
}

.task-line-container {
  display: flex;
  margin-bottom: 3px;
}

.task-dash {
  margin-right: 5px;
  font-weight: 600;
}

.hideout-name {
  width: 50%;
  margin-left: 15px;
  text-transform: capitalize;
}

.hideout-header {
  display: flex;
  align-items: center;
}

.hideout-header .hideout-name {
  text-transform: uppercase;
}

.hideout-requirements {
  width: 40%;
}

.hideout-expand {
  width: 10%;
}

.hideout-dash {
  margin-left: 15px;
  margin-right: 13px;
  font-weight: 600;
}

.hideout-level-tag, .hideout-level-header {
  background-color: #31313c;
  margin-left: 10px;
  padding: 5px 7px;
  font-size: 12px;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
}

.hideout-level-header {
  cursor: default;
}

iframe {
  border-radius: 5px;
}

.hideout-level-active {
  background-color: #2727c5;
}

.hideout-row .hideout-requirements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.craft-input, .craft-output {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
  font-size: 14px;
  padding-left: 10px;
}

.craft-output {
  width: 40%;
}

.craft-profit {
  width: 20%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.craft-profit-hour {
  font-size: 14px;
  color: #81818d;
}

.craft-price {
  color: #656570;
}

.module-dash {
  margin-right: 5px;
  font-weight: 600;
}

.module-row {
  display: flex;
}

.settings-header {
  color: #e0e0e9;
  text-transform: uppercase;
  border-bottom: 2px solid #e1e1eb26;
  font-size: 24px;
}

.settings-sub-header {
  color: #e8e8ef;
  font-weight: 600;
  margin-top: 20px;
  font-size: 18px;
}

.settings-group {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.settings-item-header {
  margin-left: 12px;
  color: #cfcfd7;
}

.switch {
  position: relative;
  display: inline-block;
  min-width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #404046;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ebe3e3;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2727c5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2727c5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}